.right-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-left: 200px;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-weight: 600;
}

.title-description {
    color: #1E3190;
}

a {
    text-decoration: none;
}

.backlog-container {
    margin-top: 32px;
}

.backlog-headline {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #1E3190;
    ;
}

.backlog-headline-person {
    width: 308px;
}

.backlog-headline-description {
    flex: 1;
    text-align: end;
}

.backlog-item {
    border-left: solid 8px;
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    background-color: #f4f3fb;
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 80px;
}

.backlog-item:hover {
    background-color: #e8e5f1;
}

.backlog-item>* {
    margin: 0 20px;
}

.person {
    display: flex;
    align-items: center;
    width: 240px;
}

.person-name {
    display: flex;
    flex-direction: column;
}

.person-name span {
    width: 192px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-picture {
    height: 48px;
    width: 48px;
    object-fit: cover;
    margin-right: 8px;
}

.backlog-item-description {
    flex: 1;
    text-align: end;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
}

.category_1 {
    border-color: orange;
}

.category_2 {
    border-color: palevioletred;
}

.category_3 {
    border-color: green;
}

.dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: white;
    border-radius: 8px;
}

.dialog-task {
    position: relative;
    min-height: 260px;
    width: 450px;
    padding: 12px;
    border-style: solid;
    border-width: 8px;
    border-radius: 8px;
    background-color: #f4f3fb;
}

.task-title-container {
    width: 158px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.left-task-footer {
    padding-right: 24px;
}

.task-description {
    margin-top: 16px;
}

.description {
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    margin-bottom: 36px;
}

.selection-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-title {
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.task-settings {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.fa-xmark {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

.fa-solid {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
}

.fa-solid:hover {
    color: rgba(0, 0, 0, 0.562)
}

.fa-file-circle-plus {
    right: 88px;
    bottom: 20px;
}

.fa-pen-to-square {
    right: 54px;
    bottom: 20px;
}

.fa-trash-can {
    right: 20px;
    bottom: 20px;
}

.edit-dialog {
    position: relative;
}

.edit-dialog .add-task-form {
    margin-top: 0;
}


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {
    .border-spacing {
        padding-top: 64px;
        padding-bottom: 54px;
    }
    header {
        align-items: center;
        text-align: center;
    }
    .mobile-menu-hidden {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    .mobile-menu-visible {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .sidebar-container {
        width: 100%;
    }
    .right-container {
        margin-left: 0;
    }
}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {
    .border-spacing {
        padding-top: 64px;
        padding-bottom: 54px;
    }
    header {
        align-items: center;
        text-align: center;
    }
    .mobile-menu-hidden {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    .mobile-menu-visible {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .right-container {
        margin-left: 0;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .border-spacing {
        padding-top: 48px;
        padding-bottom: 96px;
    }
    header {
        align-items: unset;
        text-align: unset;
    }
    .mobile-only {
        display: none;
    }
    .mobile-menu-hidden {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .mobile-menu-visible {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    .right-container {
        margin-left: 200px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    /* .sidebar-container {
        width: 300px;
    }
    .logo-img {
        width: 96px;
    }
    .sidebar-nav a {
        font-size: 1.8em;
    }
    .right-container {
        margin-left: 300px;
    }
    .user-profile-btn img {
        width: 96px;
    } */
}