a {
    text-decoration: none;
}

.backlog-container {
    margin-top: 32px;
}

.backlog-headline {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #1E3190;;
}

.backlog-headline-person {
    width: 308px;
}

.backlog-headline-description {
    flex: 1;
    text-align: end;
}

.backlog-item {
    border-left: solid 8px;
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    background-color: #f4f3fb;
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 80px;
}

.backlog-item:hover {
    background-color: #e8e5f1;
}

.backlog-item>* {
    margin: 0 20px;
}

.person {
    display: flex;
    align-items: center;
    width: 240px;
}

.person-name {
    display: flex;
    flex-direction: column;
}

.person-name span {
    width: 192px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-picture {
    height: 48px;
    width: 48px;
    object-fit: cover;
    margin-right: 8px;
}

.backlog-item-description {
    flex: 1;
    text-align: end;
}

.category_1 {
    border-color: orange;
}

.category_2 {
    border-color: palevioletred;
}

.category_3 {
    border-color: green;
}

.dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: white;
    border-radius: 8px;
}

.dialog-task {
    position: relative;
    min-height: 260px;
    width: 450px;
    padding: 12px;
    border: solid 8px;
    border-radius: 8px;
    background-color: #f4f3fb;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.left-task-footer {
    padding-right: 24px;
}

.task-description {
    margin-top: 24px;
    width: 280px;
}

.description {
    background-color: #d9d9d9;
}

.selection-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-title {
    font-size: 22px;
}

.fa-xmark {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

.fa-solid {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
}

.fa-solid:hover  {
    color:rgba(0, 0, 0, 0.562)
}

.fa-clipboard {
    right: 100px;
    bottom: 20px;
}

.fa-pen-to-square {
    right: 54px;
    bottom: 20px;
}
        
.fa-trash-can {
    right: 20px;
    bottom: 20px;
}

.selection-dialog-btn {
    /* width: 240px;
    height: 48px; */
    margin: 8px;
    background-color: #1E3190;
    border-color: #1E3190;
}

.edit-dialog {
    position: relative;
}

.edit-dialog .add-task-form {
    margin-top: 0;
}


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .backlog-headline {
        display: none;
    }

    .backlog-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .backlog-item >* {
        padding: 8px 0;
    }

    .person {
        width: 240px !important;
    }
    
    .person-name span {
        width: 192px !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    .backlog-headline-person {
        width: 278px;
    }

    .person {
        width: 210px;
    }
    
    .person-name span {
        width: 162px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}