.right-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-left: 200px;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-weight: 600;
}

.title-description {
    color: #1E3190;
}

a {
    text-decoration: none;
}

.backlog-container {
    margin-top: 32px;
}

.backlog-headline {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #1E3190;
}

.backlog-headline-person,
.backlog-headline-category,
.backlog-headline-description {
    width: 308px;
}

.backlog-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-left: solid 8px;
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    background-color: #f4f3fb;
    cursor: pointer;
    min-height: 80px;
}

.backlog-item:hover {
    background-color: #e8e5f8;
}

.backlog-item-assigned {
    display: flex;
    align-items: center;
    width: 292px;
}

.mobile-only-backlog {
    color: #1E3190;
    font-weight: 600;
    margin-right: 16px;
    width: 100px;
}

.backlog-item-category {
    display: flex;
    align-items: center;
    min-height: 48px;
}

.backlog-item-description {
    display: flex;
    align-items: center;
    min-height: 48px;
    white-space: pre-wrap;
    overflow: hidden;
}

.backlog-item-category {
    word-break: break-all;
    width: 308px;
}

.category_1 {
    border-color: orange;
}

.category_2 {
    border-color: palevioletred;
}

.category_3 {
    border-color: green;
}

.dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: white;
    border-radius: 8px;
}

.dialog-task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #f4f3fb;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.left-task-footer {
    padding-right: 24px;
}

.task-description {
    margin-top: 16px;
}

.description {
    word-break: break-word;
    overflow: hidden;
    white-space: pre-wrap;
    margin-bottom: 36px;
}

.selection-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task-title {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.task-settings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16px;
}

.fa-xmark {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

.fa-solid {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    color: #1E3190;
}

.fa-solid:hover {
    color: #ee6002;
}

.fa-file-circle-plus {
    right: 88px;
    bottom: 20px;
}

.fa-pen-to-square {
    right: 54px;
    bottom: 20px;
}

.fa-trash-can {
    right: 20px;
    bottom: 20px;
}

.edit-dialog {
    position: relative;
}

.edit-dialog .add-task-form {
    margin-top: 0;
}


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {
    .hide-mobile {
        display: none;
    }
    .mobile-only-backlog {
        display: flex;
        margin-right: 0;
        width: unset;
    }
    .border-spacing {
        padding-top: 64px;
        padding-bottom: 54px;
    }
    header {
        align-items: center;
        text-align: center;
    }
    .mobile-menu-hidden {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    .mobile-menu-visible {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .sidebar-container {
        width: 100%;
    }
    .right-container {
        margin-left: 0;
    }
    .backlog-container {
        margin-top: 0;
    }
    .dialog-task {
        width: 90vw;
    }
    .backlog-item {
        gap: 16px;
        justify-content: center;
    }
    .backlog-item-assigned,
    .backlog-item-category,
    .backlog-item-description {
        flex-direction: column;
        text-align: center;
    }
    .person {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {
    .hide-mobile {
        display: none;
    }
    .mobile-only-backlog {
        display: flex;
    }
    .border-spacing {
        padding-top: 64px;
        padding-bottom: 54px;
    }
    header {
        align-items: center;
        text-align: center;
    }
    .mobile-menu-hidden {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    .mobile-menu-visible {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .right-container {
        margin-left: 0;
    }
    .backlog-container {
        margin-top: 0;
    }
    .backlog-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .backlog-item-assigned {
        width: unset;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .border-spacing {
        padding-top: 48px;
        padding-bottom: 96px;
    }
    header {
        align-items: unset;
        text-align: unset;
    }
    .mobile-only {
        display: none;
    }
    .mobile-menu-hidden {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .mobile-menu-visible {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    .right-container {
        margin-left: 200px;
    }
    .backlog-item-assigned {
        width: unset;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .hide-mobile {
        display: flex;
    }
    .mobile-only-backlog {
        display: none;
    }
    .backlog-item {
        flex-direction: row;
        align-items: center;
    }
    .backlog-item-assigned {
        width: 292px;
    }
    .backlog-container {
        margin-top: 32px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}