.border-container {
    width: 100%;
    display: flex;
}

.border-col {
    width: 25%;
    margin: 0 15px;
    height: 80vh;
}

.border-title {
    text-align: center;
    color: #1E3190;
}

.border-title h4 {
    font-weight: 600;
}

.border-content {
    background-color: #F4F3FB;
    height: 100%;
    padding-top: 5px;
}

/* Drag and Drop */

.todo {
    width: 95%;
    border-style: solid;
    border-width: 4px;
    margin: 15px auto;
    border-radius: 5px;
    padding-left: 5px;
    background-color: white;
}

.drag-area {
    height: 200px;
    background-color: lightgray;
    border: 1px dotted black;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
}



/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}