.border-container {
    width: 100%;
    display: flex;
}

.border-col {
    width: 25%;
    margin: 0 15px;
    height: 80vh;
}

.border-title {
    text-align: center;
    /* Ist bereits in der mainStyle.css definiert */
    /* font-family: 'PT Sans', sans-serif; */
}

.border-title h4 {
    font-weight: 600;
}

.border-content {
    background-color: lightgray;
    height: 100%;
<<<<<<< HEAD
    padding-top: 5px;
}

/* Drag and Drop */

.todo {
    width: 95%;
    border: 3px solid gray;
    margin: 15px auto;
    border-radius: 5px;
    padding-left: 5px;
    background-color: gainsboro;
}

.drag-area {
    height: 200px;
    background-color: lightgray;
    border: 1px dotted black;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
}
=======
}


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}
>>>>>>> b5a15835d4e4229bb5f5287a9c006a8fb8b15583
