.border-container {
    width: 100%;
    display: flex;
}

.border-col {
    width: 25%;
    margin: 0 15px;
    height: 80vh;
}

.border-title {
    text-align: center;
    /* Ist bereits in der mainStyle.css definiert */
    /* font-family: 'PT Sans', sans-serif; */
}

.border-title h4 {
    font-weight: 600;
}

.border-content {
    background-color: lightgray;
    height: 100%;
}