body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../imgs/digitization.jpg);
    background-size: cover;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border-radius: 16px;
    gap: 32px;
    background-color: rgb(30 49 144 / 90%);
    color: white;
}

.login-section img {
    width: 64px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.form-label {
    color: white;
    font-weight: 100;
    font-size: unset;
}

.form-control:focus {
    border-color: rgb(210, 194, 253);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(210, 194, 253, 0.8);
}

.form-check-input:focus {
    border-color: rgb(210, 194, 253);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(210, 194, 253, 0.8);
}

.checkbox-input {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.login-messages {
    margin-top: 32px;
}

.alert {
    text-align: center;
}

.contact-link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: #1E3190;
    text-decoration: none;
}

.contact-link img {
    width: 48px;
}

.contact-link img:hover {
    filter: invert(57%) sepia(89%) saturate(4716%) hue-rotate(2deg) brightness(96%) contrast(99%);
}


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}