body {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
}

.wrapper {
    display: flex;
    height: 100%;
}

.border-spacing {
    padding-top: 48px;
    padding-bottom: 96px;
}

.d-none {
    display: none;
}

.btn-primary {
    color: #fff;
    background-color: #ee6002;
    border-color: #ee6002;
}

.btn-primary:hover {
    background-color: #c06b33;
    border-color: #c06b33;
}

.modal {
    position: absolute;
}

.modal-header {
    justify-content: unset;
    gap: 8px;
}

.modal-header img {
    width: 24px;
}

.modal-title {
    font-weight: 600;
    font-size: 20px;
    color: #1E3190;
}