aside {
    position: fixed;
    z-index: 1;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: #1E3190;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    width: 100%;
    gap: 8px;
}

.sidebar-nav a {
    color: #AEB0C2;
    font-size: 1.4em;
    text-decoration: none;
    padding-left: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 4px solid transparent;
}

.selected-nav-element {
    border-left: 4px solid #90ee02 !important;
    background-color: rgba(255, 255, 255, 0.2);
}

.user-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 90px;
}

.user-profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-profile-btn img {
    width: 64px;
}

.mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
}

.mobile-menu-btn img {
    width: 32px;
}

.mobile-menu-btn img:hover {
    filter: invert(57%) sepia(89%) saturate(4716%) hue-rotate(2deg) brightness(96%) contrast(99%);
}

.mobile-menu-hidden {
    transform: translateX(-100%);
    transition: all 225ms ease-in-out;
}

.mobile-menu-visible {
    transform: translateX(0%);
    transition: all 225ms ease-in-out;
}

.scrolling-not-allowed {
    overflow: hidden;
}